*{
         margin: 0 ;
         padding: 0;
         font-family: 'Nunito', sans-serif;
         color: white;
}

body {
    /* background-image: linear-gradient(to right top, #22467c, #0076b0, #00a5b1, #00ce7c, #a8eb12); */
    background-image:url(/images/627.jpg);
    background-position: center;
    background-size: cover;
 }

#barranav ul{
    text-align: center  ;
    background-color: black;
    padding: 40px ;
}

#barranav li{
    display: inline;
    text-align: center;
    margin: 0 45px 0 0;
 }

 #barranav li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 7px;
    text-decoration: none;
 }

 #barranav li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

 #contenido h1 {
        text-align: center;
        padding: 50px;

 }

 #contenido p{
        text-align: center;
           
}

#contenido2 {
        text-align: center;

}

#contenido2 img {
    border-radius: 10px;
    border: black ;
    border-style: solid;
}

 #contenido2 h2{
        
        padding: 35px;
 }

 #contenido3 p{
            text-align: justify;
}

#contenido3 h3{
    text-align: center;
}

footer {
    background-color: black;    
         color: white;
                 
}

.padre {
    text-align: center;
    align-content: center;
 }

/* .footer-1 {
    padding: 25px;
    padding-bottom: 0px;
    height: 160px;
    position: relative;
    float: left;
    margin-top: 70px;
}
/*
.footer-2 {
    text-align: center;
    padding: 25px;
    height: 160px;
    margin-top: 50px; 
    padding-bottom: 0px;   
    position: relative;
    float: left;
}

.footer-3 {
    text-align: center;
    display: inline-block;
    padding-top: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer-4 {
        text-align:center;
    padding: 25px;
    padding-bottom: 0px; 
    
    position: relative;
    float: right;
    margin-top: 85px;
}*/

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    right:25px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  } 
  
  .whatsapp-icon {
    margin-top:13px;
  }

  .inverter {
      filter: invert(100%);
  }

  .grid-padre {
                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: 200px;
                justify-items: center;
                align-items: center;
  }

  .grid-hijo{
                display: grid;
                justify-self: center;
                
  }